#
# DigiKlausur package requirenments
#
tornado
notebook
matplotlib
numpy
pandas
scipy
statsmodels
ipywidgets
jupyterlab
sympy
xlrd
scikit-learn
scikit-image
tensorflow
seaborn
h5py
opencv-python
easydict
Pillow
ilias2nbgrader
spacy
nltk
gensim
#pytorch
#torchvision
