assignmenttest @ git+https://github.com/Digiklausur/assignmenttest@master
e2xgradingtools
e2xtest @ git+https://github.com/DigiKlausur/e2xtest@main
exam_kernel
java_syntax_kernel @ git+https://github.com/DigiKlausur/java_syntax_kernel@main
