bokeh
colorama
easydict==1.9
graphviz
imageio==2.31.1
ipycanvas
ipysheet
ipywidgets
itables
matplotlib==3.7.2
numpy
nx
pandas==2.0.3
pdfkit
Pillow==10.0.0
pyagrum
pydantic
pydantic_yaml
pydot
pyparsing>=3.0.0
pypdf2
python-sat[aiger,approxmc,pblib]
pyyaml
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
statsmodels==0.14.0
sympy==1.12
exam_kernel
e2xgradingtools
ngshare_exchange>=0.5.2
assignmenttest @ git+https://github.com/Digiklausur/assignmenttest@master
e2xtest @ git+https://github.com/DigiKlausur/e2xtest@main
java_syntax_kernel @ git+https://github.com/DigiKlausur/java_syntax_kernel@main
nbgitpuller
nbresuse
