name: Build and push all images

on: 
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
    inputs:
      force_build:
        description: If the build should be forced even if there are no changes
        type: boolean
        required: false
        default: false
      push:
        description: Push the image to the registry
        type: boolean
        required: false
        default: false
      registry:
        description: Container registry to use
        type: string
        required: false
        default: ghcr.io
      tag:
        description: Tag to use for the images (e.g. latest, dev)
        type: string
        required: false
        default: latest
      e2xgrader_installation_source:
        description: Where to install e2xgrader from
        type: string
        required: false
        default: pypi
      e2xgrader_version:
        description: Use a specific e2xgrader version from PyPi
        type: string
        required: false
        default: ""
      e2xgrader_branch:
        description: Which e2xgrader branch or tag to install from. Only takes effect if e2xgrader_installation_source is "github"
        type: string
        required: false
        default: "main"

jobs:
  
  minimal_notebook:
    uses: ./.github/workflows/build_image.yml
    with:
      force_build: ${{ inputs.force_build }}
      image_name: minimal-notebook
      registry: ${{ inputs.registry }}
      base_image_name: jupyter/minimal-notebook
      base_image_tag: notebook-6.5.4
      image_tag: ${{ inputs.tag }}
      push: ${{ inputs.push }}
    secrets: inherit
  
  datascience_notebook:
    needs: [minimal_notebook]
    uses: ./.github/workflows/build_image.yml
    with:
      force_build: ${{ inputs.force_build || needs.minimal_notebook.outputs.did_build_image == 'true' }}
      image_name: datascience-notebook
      image_tag: ${{ inputs.tag }}
      registry: ${{ inputs.registry }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/minimal-notebook
      base_image_tag: ${{ inputs.tag }}      
      push: ${{ inputs.push }}
    secrets: inherit

  e2x_datascience_notebook:
    needs: [datascience_notebook]
    uses: ./.github/workflows/build_e2xgrader_images.yml
    with:
      force_build: ${{ inputs.force_build || needs.datascience_notebook.outputs.did_build_image == 'true' }}
      registry: ${{ inputs.registry }}
      image_name: datascience-notebook
      image_tag: ${{ inputs.tag }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/datascience-notebook
      base_image_tag: ${{ inputs.tag }}
      push: ${{ inputs.push }}
      e2xgrader_installation_source: ${{ inputs.e2xgrader_installation_source }}
      e2xgrader_version: ${{ inputs.e2xgrader_version }}
      e2xgrader_branch: ${{ inputs.e2xgrader_branch }}
    secrets: inherit

  sql_notebook:
    needs: [datascience_notebook]
    uses: ./.github/workflows/build_image.yml
    with:
      force_build: ${{ inputs.force_build || needs.datascience_notebook.outputs.did_build_image == 'true' }}
      image_name: sql-notebook
      image_tag: ${{ inputs.tag }}
      registry: ${{ inputs.registry }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/datascience-notebook
      base_image_tag: ${{ inputs.tag }}      
      push: ${{ inputs.push }}
    secrets: inherit

  e2x_sql_notebook:
    needs: [sql_notebook]
    uses: ./.github/workflows/build_e2xgrader_images.yml
    with:
      force_build: ${{ inputs.force_build || needs.sql_notebook.outputs.did_build_image == 'true' }}
      registry: ${{ inputs.registry }}
      image_name: sql-notebook
      image_tag: ${{ inputs.tag }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/sql-notebook
      base_image_tag: ${{ inputs.tag }}
      push: ${{ inputs.push }}
      e2xgrader_installation_source: ${{ inputs.e2xgrader_installation_source }}
      e2xgrader_version: ${{ inputs.e2xgrader_version }}
      e2xgrader_branch: ${{ inputs.e2xgrader_branch }}
    secrets: inherit

  ml_notebook:
    needs: [datascience_notebook]
    uses: ./.github/workflows/build_image.yml
    with:
      force_build: ${{ inputs.force_build || needs.datascience_notebook.outputs.did_build_image == 'true' }}
      image_name: ml-notebook
      image_tag: ${{ inputs.tag }}
      registry: ${{ inputs.registry }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/datascience-notebook
      base_image_tag: ${{ inputs.tag }}      
      push: ${{ inputs.push }}
    secrets: inherit

  e2x_ml_notebook:
    needs: [ml_notebook]
    uses: ./.github/workflows/build_e2xgrader_images.yml
    with:
      force_build: ${{ inputs.force_build || needs.ml_notebook.outputs.did_build_image == 'true' }}
      registry: ${{ inputs.registry }}
      image_name: ml-notebook
      image_tag: ${{ inputs.tag }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/ml-notebook
      base_image_tag: ${{ inputs.tag }}
      push: ${{ inputs.push }}
      e2xgrader_installation_source: ${{ inputs.e2xgrader_installation_source }}
      e2xgrader_version: ${{ inputs.e2xgrader_version }}
      e2xgrader_branch: ${{ inputs.e2xgrader_branch }}
    secrets: inherit

  nlp_notebook:
    needs: [ml_notebook]
    uses: ./.github/workflows/build_image.yml
    with:
      force_build: ${{ inputs.force_build || needs.ml_notebook.outputs.did_build_image == 'true' }}
      image_name: nlp-notebook
      image_tag: ${{ inputs.tag }}
      registry: ${{ inputs.registry }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/ml-notebook
      base_image_tag: ${{ inputs.tag }}      
      push: ${{ inputs.push }}
    secrets: inherit

  e2x_nlp_notebook:
    needs: [nlp_notebook]
    uses: ./.github/workflows/build_e2xgrader_images.yml
    with:
      force_build: ${{ inputs.force_build || needs.nlp_notebook.outputs.did_build_image == 'true' }}
      registry: ${{ inputs.registry }}
      image_name: nlp-notebook
      image_tag: ${{ inputs.tag }}
      base_image_name: ${{ inputs.registry }}/digiklausur/docker-stacks/nlp-notebook
      base_image_tag: ${{ inputs.tag }}
      push: ${{ inputs.push }}
      e2xgrader_installation_source: ${{ inputs.e2xgrader_installation_source }}
      e2xgrader_version: ${{ inputs.e2xgrader_version }}
      e2xgrader_branch: ${{ inputs.e2xgrader_branch }}
    secrets: inherit
      

  
